{% extends "payments/base.html" %}
{% block content %}
<div class="product-section">
 	<div class="product-section-title">
       	<span>PAGO POR TRANSFERENCIA BANCARIA</span>
  	</div>
  	<div class="info">
  		<p>
			Para realizar el pago de tu pedido mediante depósito o transferencia bancaria, solo te solicitamos enviar:
			<span>tu comprobante de depósito o transferencia</span> y el <span>número de tu pedido</span>
			al correo <span>ventas@ejemplo.com</span> para enviar tu pedido a la brevedad.
		</p>
		<table>
			<tbody>
				<tr>
					<td>CTIENDA</td>
				</tr>
				<tr>
					<td>RUT: 00.000.000-0</td>
				</tr>
				<tr>
					<td>Cuenta 000000</td>
				</tr>
				<tr>
					<td>Banco 0000</td>
				</tr>
			</tbody>
		</table>
  	</div>
  	<div class="info">
  		<p>
		<span>IMPORTANTE:</span> El despacho es por pagar al momento de recibir el producto.
		</p>
  	</div>
</div>
{% endblock content %}